---
layout: page
title: Home
id: home
permalink: /
---

<h2>Projects</h2>
<div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
{% assign sorted_pages = site.pages | sort: 'created_at' | reverse %}
{% for page in sorted_pages %}
    {% if page.path contains 'projects' and page.show_home == true %}
      {% include home-card.html 
          url=page.url 
          title=page.title 
          image_url=page.thumbnail
          description=page.description 
          date=page.created_at
      %}
    {% endif %}
{% endfor %}
</div>
  
<h2>Editor</h2>
<div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
{% for project in site.data.editor %}
    {% include home-card.html 
        url=project.link 
        title=project.title 
        image_url=project.image_url 
        date=project.date
    %}
{% endfor %}
</div>

<h2>Publications</h2>
<div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
{% assign sorted_pubs = site.data.publications | sort: 'created_at' %}
{% for project in sorted_pubs %}
    {% include home-card.html 
        url=project.link 
        title=project.title 
        image_url=project.image_url 
        date=project.date
        description=project.publisher
    %}
{% endfor %}
</div>
