<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style>
    #mc_embed_signup {
        font-size: 1.25rem;
    }
    .mailing-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 12px;
        margin-top: 5rem;
    }
</style>


<div class="mailing-list">
    <p>sign up for Tito Right Now updates</p>
    <!-- Begin Mailchimp Signup Form -->
    <div id="mc_embed_signup">
        <form action="https://titorosa.us5.list-manage.com/subscribe/post?u=c3fce4044b68df236a786b1c8&amp;id=fd2bf64b49" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required />
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_c3fce4044b68df236a786b1c8_fd2bf64b49" tabindex="-1" value="" />
                    </div>

                    <div class="clear">
                        <input type="submit" value="subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" />
                    </div>
            </div>
        </form>
    </div>
<!--End mc_embed_signup-->
</div>
