---
layout: default
---

<article>
  <div>
    <h1>{{ page.title }}</h1>
  </div>

  <div id="notes-entry-container">
    <content class="prose max-w-none">
      {{ content }}
    </content>

    {% if page.backlinks.size > 0 %}
    <side style="font-size: 0.9em">
      <h3 style="margin-bottom: 1em">Notes mentioning this note</h3>
      <div style="display: grid; grid-gap: 1em; grid-template-columns: repeat(1fr);">
      {% for backlink in page.backlinks %}
        <div class="backlink-box">
        <a class="internal-link" href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a><br>
        <div style="font-size: 0.9em">{{ backlink.excerpt | strip_html | truncatewords: 20 }}</div>
        </div>
      {% endfor %}
      </div>
    </side>
    {% endif %}
  </div>
</article>

<!--
<p>Here are all the notes in this garden, along with their links, visualized as a graph.</p>

{% include notes_graph.html %}
-->
